out*.png
*.pyc
*.pb
*.pyo
data/yolov4-tiny.weights
checkpoints/yolov4-tiny-416/variables/variables.data-00000-of-00001
checkpoints/yolov4-tiny-416/variables/variables.index
core/__pycache__/
deep_sort/__pycache__/
